header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 350px;
    box-sizing: border-box;
    color: #ffffff;
}

header h1, header h2 {
    font-size: 5em;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0,0,0, 1.5);
}

header #occupation {
    font-size: 2em;
    text-shadow: 0 0 10px rgba(0,0,0, 1.5);
}

header #occupation span {
    color: #F6E232;
}

#content {
    flex-grow: 1; /* fills remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* optional: centers content vertically */
    align-items: center; /* optional: centers content horizontally */
}

/* Resume and about me */
#resume-body {
    padding: 3rem;
}

#resume-summary p {
    margin-top: 1.4rem;
}

.resume-section-header {
    font-weight: 900;
    font-style: medium;
    letter-spacing: .15rem;
    color: #2a0f79;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

#avatar {
    border-radius: 50%;
    display: inline;
    margin-right: 8px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    max-width: 100%;
    width: 110px;
    height: auto;
}

li {
    margin-bottom: .5rem;
}

/* resume work experience*/
.job-position {
    padding-bottom: 3rem;
}

.resume-icon {
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 38px;
    height: 38px;
    padding-left: .15rem;
    background: rgb(91, 71, 219);
    font-size: 1.125rem;
    font-weight: bold;
    color: #ffffff;
    margin-right: 8px;
}

#resume-summary, #tech-stack, #projects, #education, #languages {
    margin-bottom: 2rem;
}

#resume-work-experience, #tech-stack, #projects, #education, #languages, #download-resume {
    margin-top: 2rem;
}

.company-name {
    background: rgba(226, 222, 251, 0.83);
    padding: .2rem .5rem;
    border-radius: .25rem;
    font-weight: 600;
    text-align: right;
    max-width: fit-content;
}

hr {
    color: rgb(91, 71, 219);
    border-width: 3px;
    opacity: 100%;
}

/* Resume education and languages */
#education li, #languages li, #download-resume li  {
    list-style-type: none;
}

#education .resume-degree, #languages p  {
    color: #121822;
    font-weight: bold;
}

#languages li {
    margin-bottom: 1em;
}

#languages p {
    margin-bottom: 0;
}

.progress-bar {
    background-color: rgb(148, 133, 248);
}

/* Download resume */
.btn-download {
    padding: 10px 20px;
    background-color: #5c6bc0;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.btn-download:hover {
    color: white;
    background-color: #4757b1;
}