header {
    height: 100vh;
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 350px;
    box-sizing: border-box;
}
#headline {
    color: #2a0f79;
}

#headline {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#avatar {
    border-radius: 50%;
    display: inline;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 100%;
    width: 200px;
    height: auto;
}

#headline h2, #headline p {
    height: 100%;
    align-content: center;
}

#headline h2 {
    text-align: left;
}

#headline p {
    text-align: right;
}

.resume-block {
    border-top: 5px solid rgb(91, 71, 219);
}