#headline {
    color: rgb(42, 15, 121);
}

#headline {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 5px solid rgb(91, 71, 219);
}

#avatar {
    border-radius: 50%;
    display: inline;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 100%;
    width: 200px;
    height: auto;
}

#headline h2, #headline p {
    height: 100%;
    align-content: center;
}

#headline h2 {
    text-align: left;
}

#headline p {
    text-align: right;
}